<link href="header.component.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div id="headcont">
    <div class = "top-bar">
      <div class = "logo">
        <img src = "assets/logo.jpeg" class = "logo-image">
      </div>
      <div class = "icon">
        <a routerLink="">Home</a>
      </div>
      <div class = "icon">
        <a routerLink="/info">Informations</a>
      </div>
      <div class = "icon">
        <a routerLink="/contact">Contact</a>
      </div>
      <div class = "icon">
        <a routerLink="/list">Cars list</a>
      </div>
      <div class = "icon">
        <a href="https://www.facebook.com/profile.php?id=100057620522244"><i class="fa fa-facebook"></i></a>
      </div>
      <div class = "icon">
        <a href="https://instagram.com/arturauto_di_venezianomaria?igshid=MXQ4NzI3cnBvYThkeA== "><i class="fa fa-instagram"></i></a>
      </div>
      <div class ="icon">
        <a routerLink="/login-admin"><i class="fa fa-id-badge"></i></a>
      </div>
    </div>
</div>
