<footer id="footer">
    <div id="foot">
      <div class="row">
        <div class="col">
          <h2>SEDE DI TROIA</h2>
          <p>
            Via Aldo Moro, 37
            71029 Troia (FG) <br>
            Arturo Martino: +39 320 138 8246 <br>
            Giovanni Martino: +39 335 582 3725
            Telefono: +39 099 844 24 44 <br>
          </p>
          <img src="assets/artur.png">
  
        </div>
        <div class="col">
          <h2>DATI FISCALI</h2>
          <p>
            Arturo Martino <br>
            Via Aldo Moro, 37
            71029 Troia FG
  
          </p>
  
          <p>
            C.F/P.IVA: 02735640738 <br>
            Registro delle imprese: <br>FG
            REA: FG-166278
          </p>
        </div>
        <div class="col">
          <h2>LINK VELOCI </h2>
          <ul class="list-unstyled">
            <li class="li1"><a id="link" href="http://127.0.0.1:5501/src/app/main-page/main-page.component.html">Home</a></li>
            <li class="li1"><a id="link"href="http://127.0.0.1:5501/src/app/index/index.component.html">Informations</a></li>
            <li class="li1"> <a id="link" href="http://127.0.0.1:5501/src/app/contact/contact.component.html#">Contact</a></li>
            <li class="li1"><a id="link" href="http://127.0.0.1:5501/src/app/listaveicoli/listaveicoli.component.html">Car List</a></li>
          </ul>
        </div>
        <div class="col">
          <h2>HAI DOMANDE ?</h2>
          <ul class="list-unstyled">
            <li class="li2">Per qualsiasi tipo di domande contattare:</li>
            <li class="li2">+39 320 138 8246</li>
            <li class="li2">Arturauto.com</li>
            <li class="li2">Compila il form nella sezione <a id="link" href="http://127.0.0.1:5501/src/app/contact/contact.component.html#">contatti</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>