<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->

</head>
<div class="container" id="contlist">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card" style="width: 100%;">
                <img src="assets/lista/alfaromeo.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Alfa Romeo Alfetta 1.6 Diesel</h5>
                    <p class="card-text">Una delle migliori macchine in circolazione
                        con un motore forviante e in ottime condizioni</p>
                    7999
                    <a routerLink="/alfa" class="btn btn-primary">Dettagli</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 100%;">
                <img src="assets/lista/cmax.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Ford C-max Titanium 1.5</h5>
                    <p class="card-text">Una delle macchine migliori attualmente
                        disponibili, dotata di un
                        motore potente e in condizioni eccellenti.</p>
                    7999
                    <a routerLink="/ford" class="btn btn-primary">Dettagli</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 100%;">
                <img src="assets/lista/fiato.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Fiat TipoLounge 1.6 Diesel</h5>
                    <p class="card-text">Tra le auto in circolazione, questa spicca
                        per le sue condizioni impeccabili e il motore straordinariamente performante</p>
                    5790
                    <a routerLink="/fiat" class="btn btn-primary">Dettagli</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 100%;">
                <img src="assets/lista/mokka.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Opel Mokka Cosmo 1.7 Diesel</h5>
                    <p class="card-text">Questa è senza dubbio una delle prime
                        macchine in circolazione,
                        con un motore eccezionale e in uno stato impeccabile.</p>
                    8000
                    <a routerLink="/opel" class="btn btn-primary">Dettagli</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 100%;">
                <img src="assets/lista/sportage.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Kia Sportage Cool 1.7 Diesel</h5>
                    <p class="card-text">Questa macchina rappresenta indubbiamente
                        una delle eccellenze circolanti, grazie al suo motore di prim'ordine e alle condizioni impeccabili.
                    </p>
                    9700
                    <a routerLink="/kia" class="btn btn-primary">Dettagli</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 100%;">
                <img src="assets/lista/toyoa.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Toyota Aygo 1.0 Benzina</h5>
                    <p class="card-text">Nel panorama automobilistico, questa vettura si distingue come una delle migliori, con
                        un motore potente
                        e in condizioni eccezionali.</p>
                    3000
                    <a routerLink="/toyota" class="btn btn-primary">Dettagli</a>
                </div>
            </div>
        </div>
    </div> 
</div>
