
#contenitore1{
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 5%;
    
}

.float-left{
    margin-bottom: 5%;    
}

#contenitore2{
    margin-bottom: 5%;
}
#contenitore2  h3{
margin-bottom: 4%;
    
}
#contenitore3 h3{
    margin-bottom: 4%;
}

#contenitore3{
  margin-bottom: 5%;
}

#contenitore4 h3{
  margin-bottom: 4%;
      
  }

/*header*/
#headcont
{
  align-items: center;
}
.top-bar
{
  height: 100px;
  align-items: center;
  display: flex;
}

.logo
{
  align-items: center;
  display: flex;
  padding-right: 450px;
}

.logo-image
{
  height: 80px;
}

.icon
{
  padding-right: 50px;
  cursor: pointer;
}

.icon:hover
{
  color: silver;
}


